<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>produto Manager</title>
</head>
<body>
<div align="center">
    <h1>Lista de Produtos</h1>
    <a href="new">Novo produto</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th> ID</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Feito em</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="produto : ${listaProdutos}">
            	<td th:text="${produto.id}">produto ID</td>
                <td th:text="${produto.nome}">nome</td>
                <td th:text="${produto.marca}">marca</td>
                <td th:text="${produto.feitoPor}">Feito em:</td>
                <td th:text="${produto.preco}">Preço</td>
                <td>
                	<a th:href="@{'/edit/' + ${produto.id}}">Edit</a>
                	&nbsp;&nbsp;&nbsp;
                	<a th:href="@{'/delete/' + ${produto.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>    
</body>
</html>